<div id='container'>
  <div class='navigation'>
    <ul>
      <li><a href='#/links' class='btn btn-outline-primary' role="button" aria-pressed="true">All Links</a></li>
      <li><a href='#/shorten' class='btn btn-outline-success' role="button" aria-pressed="true">Shorten</a></li>
      <li><a href='#/logout' class='btn btn-outline-warning' role="button" aria-pressed="true">Logout</a></li>
    </ul>
      
  </div>

  <input type="search" class="navigation" placeholder="filter links" ng-model="search" />
  
 <!--  <div class='link fx-fade-up-big fx-easing-bounce fx-speed-400' ng-repeat="link in data.links | orderBy:'-visits' | filter:search">
    <img src='assets/redirect_icon.png'/>
    <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
    <div class='title'>{{link.title}}</div>
    <div class='original'>{{link.url}}</div>
    <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
  </div> -->

  <shorten-link source='link' ng-repeat="link in data.links | orderBy:'-visits' | filter:search">
  </shorten-link>
</div>
